<div class="details_group group {{ site.offer.product_type_01 | slugify }}">

  {% if page.amenities_people %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--people" class="people" %}
    </div>

    <div class="detail_text">{{ page.amenities_people }}</div>
  </div>
  {% endif %}

  {% if page.amenities_beds %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--hotel" class="beds" %}
    </div>

    <div class="detail_text">{{ page.amenities_beds }}</div>
  </div>
  {% endif %}

  {% if page.amenities_mosquito_net %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--mosquito_net" class="mosquito_net" %}
    </div>

    <div class="detail_text">Mosquito Nets</div>
  </div>
  {% endif %}

  {% if page.amenities_fridge %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--fridge" class="fridge" %}
    </div>

    <div class="detail_text">Fridge</div>
  </div>
  {% endif %}


  {% if page.amenities_pool %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--pool" class="pool" %}
    </div>

    <div class="detail_text">Swimming Pool</div>
  </div>
  {% endif %}


  {% if page.amenities_ac %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--ac" class="ac" %}
    </div>

    <div class="detail_text">Air Conditioning</div>
  </div>
  {% endif %}


  {% if page.amenities_fan %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--fan" class="fan" %}
    </div>

    <div class="detail_text">Fan</div>
  </div>
  {% endif %}

  {% if page.amenities_ceiling_fan %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--ceiling_fan" class="ceiling_fan" %}
    </div>

    <div class="detail_text">Ceiling fan</div>
  </div>
  {% endif %}

  {% if page.amenities_hot_shower %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--shower" class="shower" %}
    </div>

    <div class="detail_text">Hot Shower</div>
  </div>
  {% endif %}

  {% if page.amenities_breafast %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--restaurant" class="restaurant" %}
    </div>

    <div class="detail_text">Breakfast</div>
  </div>
  {% endif %}


  {% if page.amenities_safebox %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--lock" class="lock" %}
    </div>

    <div class="detail_text">Safe Box</div>
  </div>
  {% endif %}

    {% if page.amenities_pets %}
    <div class="detail">
      <div class="detail_icon">
        {% include svg/use.html id="icn--pets" class="pets" %}
      </div>

      <div class="detail_text">Pets Allowed</div>
    </div>
    {% endif %}



  {% if page.amenities_tv %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--tv" class="tv" %}
    </div>

    <div class="detail_text">TV</div>
  </div>
  {% endif %}


  {% if page.amenities_wakeupcall %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--clock" class="clock" %}
    </div>

    <div class="detail_text">Wake Up Call</div>
  </div>
  {% endif %}



  {% if page.amenities_coffee %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--coffee" class="coffee" %}
    </div>

    <div class="detail_text">Tea Coffee maker</div>
  </div>
  {% endif %}


  {% if page.amenities_spa %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--lotus" class="spa" %}
    </div>

    <div class="detail_text">Spa</div>
  </div>
  {% endif %}

  {% if page.amenities_massage %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--massage" class="massage" %}
    </div>

    <div class="detail_text">Massage</div>
  </div>
  {% endif %}


  {% if page.amenities_room_service %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--room_service" class="room_service" %}
    </div>

    <div class="detail_text">Room Service</div>
  </div>
  {% endif %}


  {% if page.amenities_bbq %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--bbq" class="bbq" %}
    </div>

    <div class="detail_text">BBQ</div>
  </div>
  {% endif %}


  {% if page.amenities_laundry %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--laundry" class="laundry" %}
    </div>

    <div class="detail_text">Laundry Service</div>
  </div>
  {% endif %}

  {% if page.amenities_wifi %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--wifi" class="wifi" %}
    </div>

    <div class="detail_text">Wi-Fi</div>
  </div>
  {% endif %}



</div>
