<footer class="footer group" role="contentinfo">

  <div class="container">

    <div class="footer_company_name">
      {{site.title}}
    </div>

    <div class="menu menu_footer">

      <div class="menu_products" role="menu">
        <div class="title">{{site.content_is_about}}</div>

        {% if page.url contains item.url %}
        <a class="menu_item active" role="menuitem" title="{{site.content_is_about}}" href="/offer/">
          <span class="">Our complete offer</span>
        </a>
        {% else %}
        <a class="menu_item" role="menuitem" title="{{site.content_is_about}}" href="/offer/">
          <span class="">Our complete offer</span>
        </a>
        {% endif %}

        {% for item in site.products %}
          {% if page.url contains item.url %}
            {% unless item.publish=="notyet" %}
            <a class="menu_item active" role="menuitem" title="{{ item.title }}" href="{{ item.url | prepend: site.baseurl }}">
              <span class="">{{ item.title }}</span>
            </a>
            {% endunless %}
          {% else %}
            {% unless item.publish=="notyet" %}
            <a class="menu_item " role="menuitem" title="{{ item.title }}" href="{{ item.url | prepend: site.baseurl }}">
              <span class="page_title">{{ item.title }}</span>
            </a>
            {% endunless %}
          {% endif %}
        {% endfor %}

      </div>

      <div class="menu_socials" role="menu">
        <div class="title">Follow us</div>


        {% if site.company.facebook_page %}
        <div class="footer_icon facebook">
          <a class="menu_item" role="menuitem" href="{{site.company.facebook_page}}" title="{{site.company.facebook_page}} facebook page">
            <span>
              {% include svg/use.html id="icn--facebook" class="facebook" %}
            </span>
            <span>Facebook</span>
          </a>
        </div>
        {% endif %}

        {% if site.company.instagram %}
        <div class="footer_icon instagram">
          <a class="menu_item" role="menuitem" href="{{site.company.instagram}}" title="{{site.company.instagram}} on instagram">
            <span>
              {% include svg/use.html id="icn--instagram" class="instagram" %}
            </span>
            <span>Instagram</span>
          </a>
        </div>
        {% endif %}

        {% if site.company.twitter %}
        <div class="footer_icon twitter">
          <a class="menu_item" role="menuitem" href="{site.company.twitter}}" title="{{site.company.twitter}} at twitter">
            <span>
              {% include svg/use.html id="icn--twitter" class="twitter" %}
            </span>
            <span>Twitter</span>
          </a>
        </div>
        {% endif %}

        {% if site.company.gplus %}
        <div class="footer_icon gplus">
          <a class="menu_item" role="menuitem" href="{site.company.gplus}}" title="{{site.company.gplus}} on gplus">
            <span>
              {% include svg/use.html id="icn--gplus" class="gplus" %}
            </span>
            <span>Google Plus</span>
          </a>
        </div>
        {% endif %}

        {% if site.company.linkedin %}
        <div class="footer_icon linkedin">
          <a class="menu_item" role="menuitem" href="{{site.company.linkedin}}" title="{{site.company.linkedin}} on linkedin">
            <span>
              {% include svg/use.html id="icn--linkedin" class="linkedin" %}
            </span>
            <span>Linkedin</span>
          </a>
        </div>
        {% endif %}

        {% if site.company.tumblr %}
        <div class="footer_icon tumblr">
          <a class="menu_item" role="menuitem" href="{{site.company.tumblr}}" title="{{site.company.tumblr}} on tumblr">
            <span>
              {% include svg/use.html id="icn--tumblr" class="tumblr" %}
            </span>
            <span>Tumblr</span>
          </a>
        </div>
        {% endif %}


        {% if site.company.youtube %}
        <div class="footer_icon youtube">
          <a class="menu_item" role="menuitem" href="{{site.company.youtube}}" title="{{site.company.youtube}} on youtube">
            <span>
              {% include svg/use.html id="icn--youtube" class="youtube" %}
            </span>
            <span>Youtube</span>
          </a>
        </div>
        {% endif %}

        {% if site.company.booking %}
        <div class="footer_icon booking">
          <a class="menu_item" role="menuitem" href="{{site.company.booking}}" title="{{site.company.booking}} on booking.com">
            <span>
              {% include svg/use.html id="icn--bookingdotcom" class="bookingdotcom" %}
            </span>
            <span>booking</span>
          </a>
        </div>
        {% endif %}


        {% if site.company.airbnb %}
        <div class="footer_icon airbnb">
          <a class="menu_item" role="menuitem" href="{{site.company.airbnb}}" title="{{site.company.airbnb}} on airbnb">
            <span>
              {% include svg/use.html id="icn--airbnb" class="airbnb" %}
            </span>
            <span>Airbnb</span>
          </a>
        </div>
        {% endif %}


        {% if site.company.tripadvisor %}
        <div class="footer_icon tripadvisor">
          <a class="menu_item" role="menuitem" href="{{site.company.tripadvisor}}" title="{{site.company.tripadvisor}} on tripadvisor">
            <span>
              {% include svg/use.html id="icn--tripadvisor" class="tripadvisor" %}
            </span>
            <span>Tripadvisor</span>
          </a>
        </div>
        {% endif %}


        {% if site.company.soundcloud %}
        <div class="footer_icon soundcloud">
          <a class="menu_item" role="menuitem" href="{{site.company.soundcloud}}" title="{{site.company.soundcloud}} on soundcloud">
            <span>
              {% include svg/use.html id="icn--soundcloud" class="soundcloud" %}
            </span>
            <span>Soundcloud</span>
          </a>
        </div>
        {% endif %}

      </div>

      <div class="menu_contacts" role="menu">

        <div class="title">About {{site.company.name}}</div>

        {% if site.has_about_page %}
        <div class="name">
          {% if page.url contains 'about' %}
          <a class="menu_item active" role="menuitem" href="/about-us/" title="about us">
            <span>About us</span>
          </a>
          {% else %}
          <a class="menu_item" role="menuitem" href="/about-us/" title="about us">
            <span>About us</span>
          </a>
          {% endif %}
        </div>
        {% endif %}

        {% if site.has_term_page %}
          <div class="terms">
            {% if page.url contains 'terms' %}
            <a class="menu_item active" role="menuitem" href="/terms/" title="terms and conditions">
              <span>Terms and Conditions</span>
            </a>
            {% else %}
            <a class="menu_item" role="menuitem" href="/terms/" title="terms and conditions">
              <span>Terms and Conditions</span>
            </a>
            {% endif %}
          </div>
        {% endif %}

        {% if site.company.address %}
        <div class="footer_icon address">
          <a class="menu_item" role="menuitem" href="{% if site.company.maplink %}{{site.company.maplink}}{% else %}#{% endif %}" title="location">

            <span class="address_icon">
            {% include svg/use.html id="icn--location" class="location" %}
            </span>

            <div class="address_text">

              {% if site.company.legal_name %}
                <div class="name">{{site.company.legal_name}}</div>
              {% else %}
                <div class="name">{{site.company.name}}</div>
              {% endif %}

              <div>{{site.company.address}}</div>
              <div>{{site.company.country}}</div>
            </div>
          </a>
        </div>
        {% endif %}

        {% if site.company.telephone %}
        <div class="footer_icon telephone">
          <a class="menu_item" role="menuitem" href="#" title="telephone">
            <span>{% include svg/use.html id="icn--localphone" class="localphone" %}</span>
            <span>{{site.company.telephone}}</span>
          </a>
        </div>
        {% endif %}

        {% if site.company.fax %}
        <div class="footer_icon fax">
          <a class="menu_item" role="menuitem" href="#" title="fax">
            <span>{% include svg/use.html id="icn--fax" class="fax" %}</span>
            <span>{{site.company.fax}}</span>
          </a>
        </div>
        {% endif %}

        {% if site.company.email %}
        <div class="footer_icon email">
          <a class="menu_item" role="menuitem" class="" href="mailto:{{site.company.email}}" title="{{site.company.email}}">
            <span>
              {% include svg/use.html id="icn--email" class="email" %}
            </span>
            <span>{{site.company.email}}</span>
          </a>
        </div>
        {% endif %}

        {% if site.qr == "show" %}
        <div class="menu_item footer_icon email" role="menuitem">
          <span>
            {% include svg/use.html id="icn--qr" class="qr" %}
          </span>
        </div>
        {% endif %}

      </div>

    </div>

    <div class="copyright">Copyright © {{ "now" | date: "%Y" }} {{site.company.legal_name}}. All rights reserved. <br class="break_on_phones"> Powered by <a href="https://junglestar.org">Junglestar</a></div>

  </div>

</footer>
