<!--includes/post_loop_resources-->
<div class="post_page_title">

  <h1 class="show_on_phones minimal_padding">{{page.title}}</h1>

  {% if page.description %}
    <h2 class="minimal_padding">{{page.description}}</h2>
  {% endif %}

</div>

<div id="brands" class="responsive_table_bock">

  <input class="search input" placeholder="Search" />
  <button class="sort button" data-sort="products">
    Sort by Products
  </button>
  <button class="sort button" data-sort="brand">
    Sort by Brand
  </button>

  <table class="green_pages_table">

    <thead>
      <tr class="green_pages_table_header_row">
        <td>Brand</td>
        <td>Products</td>
        <td>Website</td>
      </tr>
    </thead>

    <tbody class="list">
      {% for company in site.data.companies %}
        <tr class="green_pages_table_row">
          <td class="brand">{{ company.brand }}</td>
          <td class="products">{{ company.products }}</td>
          <td><a class="sober_link " href="{{ company.website}}">{{ company.website | remove:'http://' | remove:'https://' | remove:'www.' | remove:'/' }}</a></td>
        </tr>
      {% endfor %}
    </tbody>

  </table>

</div>

{% comment %}
the followinf script must stay here, when moved to layout/resources.html somehow sorting work only once, weird!
{% endcomment %}

{% include script_list.html %}
<script>
  var options = {
    valueNames: [ 'brand', 'products' ]
  };

  var userList = new List('brands', options);
</script>

{% comment %}
DB Fields:
brand
website
products
email
telephone
address
location
country
{% endcomment %}
