<a class="looper__link card {{ product.product_group }}" title="{{ product.name }}" href="{{ site.baseurl }}/{{ product.product_group }}/{{ product.name | slugify }}/">

  <div class="product_image">
    <figure class="">
      <img  class="product_thumb" src="{{ site.baseurl }}/assets/p/products/{{ product.product_group }}/{{ product.name | slugify }}.jpg" alt="{{ product.name }}" title="{{ product.name }}">
      {% if product.tag %}
      <figcaption class="figcaption {{ product.tag | slugify }}">{{ product.tag }}</figcaption>
      {% endif %}
    </figure>
    <div class="product_group {{ product.product_group | slugify }}">
      {{ product.product_group }}
    </div>
  </div>

  <div class="product_text">
    <h1>{{product.name}}</h1>
    <h3>{{product.subtitle}}</h3>
    <div class="product_text_content">
      {{product.content | strip_html | truncatewords: 16}}
    </div>

    <div class="button_row">
      <span class="button">Learn more</span>
    </div>

  </div>

</a>
