<div class="topic_grid">

{% for topic in site.topics %}
{% unless topic.publish=='notyet' %}
    <a class="looper__link card {{ topic.topic_group }}" title="{{ topic.name }}" href="{{ site.baseurl }}/{{ topic.topic_group }}/{{ topic.name  | slugify }}/">

      <div class="topic_image">
        <figure class="">
          <img  class="topic_thumb" src="{{ site.baseurl }}/assets/p/topics/{{ topic.topic_group }}/{{ topic.name | slugify }}.jpg" alt="{{ topic.name }}" title="{{ topic.name }}">
          <figcaption class="figcaption {% if topic.tag %}{{ topic.tag | slugify }}{% else %}{% if topic.publish=="notyet" %}coming-soon{% endif %}{% endif %}">
            {% if topic.tag %}{{ topic.tag }}
            {% else %}{% if topic.publish=="notyet" %}coming soon{% endif %}
            {% endif %}
          </figcaption>
        </figure>
        <div class="topic_group {{ topic.topic_group | slugify }}">
          {{ topic.topic_group }}
        </div>
      </div>

      <div class="topic_text">
        <h2>{{topic.name}}</h2>
        <h4>{{topic.subtitle}}</h4>
      </div>

    </a>
{% endunless%}
{% endfor %}

</div>
