<div class="topic_page_title">

  <h1 class="show_on_phones minimal_padding">{{page.title}}</h1>

  {% if page.description %}
    <h2 class="minimal_padding">{{page.description}}</h2>
  {% endif %}

</div>

<div class="topic_grid">
{% capture pagegroup %}{{ page.topic_group | slugify }}{% endcapture %}

{% for topic in site.topics %}
  {% if topic.path contains pagegroup %}
    {% unless topic.publish=='notyet' %}

      {% include topic_card.html %}

    {% endunless %}
  {% endif %}
{% endfor %}
</div>
