<a class="looper__link card {{ topic.topic_group }}" title="{{ topic.name }}" href="{{ site.baseurl }}/{{ topic.topic_group }}/{{ topic.name | slugify }}/">

  <div class="topic_image">
    <figure class="">
      <img  class="topic_thumb" src="{{ site.baseurl }}/assets/p/topics/{{ topic.topic_group }}/{{ topic.name | slugify }}.jpg" alt="{{ topic.name }}" title="{{ topic.name }}">
      {% if topic.tag %}
      <figcaption class="figcaption {{ topic.tag | slugify }}">{{ topic.tag }}</figcaption>
      {% endif %}
    </figure>
    <div class="topic_group {{ topic.topic_group | slugify }}">
      {{ topic.topic_group }}
    </div>
  </div>

  <div class="topic_text">
    <h1>{{topic.name}}</h1>
    <h3>{{topic.subtitle}}</h3>
    <div class="topic_text_content">
      {{topic.content | strip_html | truncatewords: 16}}
    </div>

    <div class="button_row">
      <span class="button">Learn more</span>
    </div>

  </div>

</a>
