.card {
  background-color: white;
  color: black;
  -webkit-box-shadow: $card-shadow;
  box-shadow: $card-shadow;
  -webkit-transition: $transition_shadow;
  transition: $transition_shadow;
  border: 1px solid $black;

  &:hover,
  &:focus {
    color: lighten(black, 30);
    -webkit-box-shadow: $card-shadow--hover;
    box-shadow: $card-shadow--hover;
  }

  &:active {
    -webkit-transform: translateY(0.25em);
    transform: translateY(0.25em);
  }

  h1, h3 {
    text-transform: uppercase;
  }
}
