.card {
  background-color: white;
  color: black;
  -webkit-box-shadow: $card-shadow;
  box-shadow: $card-shadow;
  -webkit-transition: $transition_shadow;
  transition: $transition_shadow;
  border: 1px solid $black;
  border-radius: 5px;
  overflow: hidden;

  .post_image {
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  }

  &:focus,
  &:hover {
    //color: lighten(black, 30);
    -webkit-box-shadow: $card-shadow--hover;
    box-shadow: $card-shadow--hover;

    .post_image {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  }

  &:active {
    -webkit-transform: translateY(0.25em);
    transform: translateY(0.25em);
  }

  h1,
  h3 {
    text-transform: uppercase;
  }
}
