.green_pages_table {
  min-width: 100%;
  width: 100%;
  tbody tr {
    font-size: 90%;
    vertical-align: middle;
  }
  td:last-child {
    text-align: right;
  }
  .brand {
    font-weight: $semibold_font_weight;
  }
}

.green_pages_table_header_row,
.green_pages_table_row {
  width: 100%;
  span {
    text-align: left;
  }
}

.green_pages_table_header_row td {
  font-weight: $semibold_font_weight;
  // border-bottom: 1px solid $transparent_grey;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.green_pages_table_row:nth-child(odd) {
  background-color: transparentize($brand_color, .75);
}


.sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $black;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $black;
  content:"";
  position: relative;
  top:-4px;
  right:-5px;
}
