.green_pages_table {
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
  min-width: 100%;
  width: 100%;

  tbody td {
    //font-size: 86%;
    @include responsive-font(4.53125vw, 14px, 24px, 14px);
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    padding-left: 10px;
    @include media("screen", ">minWidth") {
      //font-size: 96%;
      @include responsive-font(2vw, 13px, 24px, 15px);
    }
  }

  td:last-child {
    text-align: right;
    a:after {
      display: none;
    }
    a:hover:after {
      display: inline-block;
      width: .9rem;
      height: .9rem;
      top: 0.15rem;
      margin-right: 5px;
    }
  }

  .brand {
    font-weight: $semibold_font_weight;
  }
}

.green_pages_table_header_row,
.green_pages_table_row {
  width: 100%;

  span {
    text-align: left;
  }
}

.green_pages_table_header_row {
  font-weight: $semibold_font_weight;
  // padding-bottom: 8px; //not working
  // margin-bottom: 8px; //not working
  line-height: 2;
}

.green_pages_table_row:nth-child(odd) td {
  background-color: transparentize($brand_color, .75);
}

.functionalities_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  @include media("screen", ">minWidth") {
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.sort:after {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content: "";
  position: relative;
  top: -10px;
  right: -3px;
}

.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $black;
  content: "";
  position: relative;
  top: 4px;
  right: -3px;
}

.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $black;
  content: "";
  position: relative;
  top: -4px;
  right: -3px;
}
