h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  padding-bottom: $vertical_rhythm;
}

h1 {
  font-size: $heading1;
  line-height: 1.2;
  font-weight: 500;
}

h2 {
  font-size: $heading2;
  line-height: 1.2;
}

h3 {
  font-size: $heading3;
  line-height: 1.2;
}

.top_padded {
  padding-top: 140px;
  @include media("screen", ">minWidth") {
    padding-top: 115px;
  }
}

// adjacent selectors
h1:not(.minimal_padding),
p + h1:not(.minimal_padding),
p + h2:not(.minimal_padding),
p + h3:not(.minimal_padding) {
  padding-top: $vertical_rhythm;
  padding-bottom: $vertical_rhythm;
  .card & {
    padding-top: $vertical_rhythm--small/2;
    padding-bottom: $vertical_rhythm--small/2;
  }
}

h1 + h2:not(.minimal_padding),
h1 + h3:not(.minimal_padding) {
  padding-top: $vertical_rhythm/2;
  padding-bottom: $vertical_rhythm/2;
  .card & {
    padding-top: $vertical_rhythm--small/2;
    padding-bottom: $vertical_rhythm--small/2;
  }
}
