.header {
  -webkit-box-shadow: $header_shadow;
  box-shadow: $header_shadow;
  background-color: $black;
  position: relative;
  z-index: 10;

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    // -webkit-box-align: start;
    // -ms-flex-align: start;
    // align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: $vertical_rhythm/2 $vertical_rhythm/2;
    // @include media( "screen", ">minWidth") {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    //  padding-bottom: 0;
    // }
    @include media( "screen", ">bp1Width") {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      padding-top: $vertical_rhythm/2;
      padding-bottom: $vertical_rhythm/2;
    }
  }
  //when site has a short menu
  .short_menu & {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    .logo_block {
      padding-bottom: 0;
    }
  }
  //when site has a long menu
  .long_menu & {
    nav {
      display: none;
      @include media( "screen", ">minWidth") {
        display: inherit;
        padding: $vertical_rhythm--small 0;
      }
      @include media( "screen", ">bp1Width") {
        padding: 0;
      }

      &.show {
        display: block;
        min-width: 100%;
        padding-top: $vertical_rhythm--small;
        @include media( "screen", ">minWidth") {
          min-width: auto;
          border-bottom: 0 none;
        }

        .menu_item {
          //a
          border-bottom: 1px solid darken($bg_color, 70);
          @include media( "screen", ">minWidth") {
            border-bottom: 0 none;
          }

          &:last-child {
            border-bottom: 0 none;
          }
        }
      }
    }
  }

  .menu_toggle_buttom {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 42px;
    height: 42px;
    padding: 11px;

    &:focus,
    &:hover {}
    @include media( "screen", ">minWidth") {
      display: none;
    }

    .close {
      display: none;
    }

    &.menu_is_open {
      .close {
        display: block;
      }

      .open {
        display: none;
      }
    }
  }

  .logo_block {
    //a
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 0;
    // no underline here
    border-bottom: 0 none;

    &:hover {
      border-bottom: 0 none;
    }
    @include media( "screen", ">minWidth") {
      padding-bottom: 0;
    }
  }

  .logo {
    //svg
    fill: $brand_color;
    width: 60px;
    height: 60px;
    margin-right: $vertical_rhythm--small;
  }

  h1 {
    color: $brand_color;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 6vw;
    text-align: left;
    @include media( "screen", ">minWidth") {
      font-size: 8vw;
    }
    @include media( "screen", ">bp1Width") {
      margin-right: $vertical_rhythm;
      font-size: 34px;
    }
  }
}

.header_block {
  @include media( "screen", "<minWidth") {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu_header {
  .menu_item {
    //a
    font-size: 1.1rem;
    margin-right: $vertical_rhythm--small/3;
    margin-left: $vertical_rhythm--small/3;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    &.active {
      .long_menu & {
        background-color: $grey--light;
        @include media( "screen", ">minWidth") {
          background-color: transparent;
        }
      }
    }
    @include media( "screen", ">minWidth") {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;

      &.active {
        background-color: transparent;
      }
    }
  }

  span {
    text-align: center;
    @include media( "screen", ">minWidth") {
      text-align: left;
    }
  }
}
