.accommodation,
.tour {
  .details_group {
    margin-top: $space;
    padding: 0 $space--small;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: $space;
    margin-bottom: $space;
    @include media( "screen", ">minWidth") {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    @include media( "screen", ">bp1Width") {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 300px;
      float: left;
      margin-top: $space*.5;
      margin-bottom: $space*2;
    }
  }

  .detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 210px;
    padding-top: $space--small/2;
    margin-right: $space--small/2;
    padding-bottom: $space--small/2;
  }

  .detail_icon {
    width: $icon_size;
    height: $icon_size;
  }

  .detail_text {
    padding-left: $space--small;
  }
}
