<div class="details_group group {{ site.offer.product_type_02 | slugify }}">

  {% if page.tour_hours %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--clock" class="clock" %}
    </div>
    {% if page.tour_hours == 1 %}
    <div class="detail_text">{{ page.tour_hours }} hour</div>
    {% else %}
    <div class="detail_text">{{ page.tour_hours }} hours</div>
    {% endif %}
  </div>
  {% endif %}

  {% if page.tour_days %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--day" class="day" %}
    </div>
    {% if page.tour_days == 1 %}
    <div class="detail_text">{{ page.tour_days }} day</div>
    {% else %}
    <div class="detail_text">{{ page.tour_days }} days</div>
    {% endif %}
  </div>
  {% endif %}

  {% if page.tour_nights %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--night" class="night" %}
    </div>
    {% if page.tour_nights != 1 %}
    <div class="detail_text">{{ page.tour_nights }} nights</div>
    {% else %}
    <div class="detail_text">{{ page.tour_nights }} night</div>
    {% endif %}
  </div>
  {% endif %}

  {% if page.tour_walking %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--walking" class="walking" %}
    </div>

    <div class="detail_text">Walking</div>
  </div>
  {% endif %}

  {% if page.tour_hiking %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--hiking" class="tour_hiking" %}
    </div>

    <div class="detail_text">Hiking</div>
  </div>
  {% endif %}

  {% if page.tour_fly %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--plane" class="plane" %}
    </div>

    <div class="detail_text">Flight</div>
  </div>
  {% endif %}

  {% if page.tour_boat %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--boat" class="boat" %}
    </div>

    <div class="detail_text">Boat</div>
  </div>
  {% endif %}

  {% if page.tour_swimming %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--pool" class="pool" %}
    </div>

    <div class="detail_text">Swimming</div>
  </div>
  {% endif %}


  {% if page.tour_performance %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--smile" class="performance" %}
    </div>

    <div class="detail_text">Art Performance</div>
  </div>
  {% endif %}


  {% if page.tour_meal %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--restaurant" class="restaurant" %}
    </div>

    <div class="detail_text">Meals included</div>
  </div>
  {% endif %}


  {% if page.tour_coffee %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--coffee" class="coffee" %}
    </div>

    <div class="detail_text">Coffee included</div>
  </div>
  {% endif %}

  {% if page.tour_coconut %}
  <div class="detail">
    <div class="detail_icon">
      {% include svg/use.html id="icn--coconut" class="coconut" %}
    </div>
    <div class="detail_text">Coconut drink</div>
  </div>
  {% endif %}

</div>
