<div class="slideshow_wrap">

  <div class="slideshow">

      <div data-responsive-background-image>

        <!-- looper -->
        {% for post in site.posts %}
          {% if post.featured %}
            {% if post.show_in_home_slideshow %}
              {% unless post.publish=="notyet" %}

              {% assign f = post.image | split: '.' %}
              <div data-src="{{ f[0] | relative_url }}-640.{{ f[1] }}"
                   srcset="{{ f[0] | relative_url }}-640.{{ f[1] }} 640w,
                           {{ f[0] | relative_url }}-880.{{ f[1] }} 880w,
                           {{ f[0] | relative_url }}-1024.{{ f[1] }} 1024w,
                           {{ f[0] | relative_url }}-1920.{{ f[1] }} 1920w"
                   sizes="100vw"
                   alt="{{ page.title }} - {{ page.subtitle }}">

              {% endunless %}
            {% endif %}
          {% endif %}
        {% endfor %}

      </div>


  </div>

</div>
