<div class="slideshow_wrap">

  <div class="slideshow">


    <div class="slideshow-slide-list">

      {% for post in site.posts %}
        {% if post.featured %}
          {% if post.show_in_home_slideshow %}
            {% unless post.publish=="notyet" %}

            <div class="slideshow-slide">
              <div class="" data-src="{{ post.image }}">
                <div class="caption" data-caption="{{slide.caption}}">
                </div>
              </div>
            </div>

            {% endunless %}
          {% endif %}
        {% endif %}
      {% endfor %}

    </div>

  </div>

</div>
