---

---
<!DOCTYPE html>
<html lang="{% if page.lang %}{{page.lang}}{% else %}{{site.lang}}{% endif %}" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body>

    <div class="viewport_centered">

      <div class="logo">
        {% include svg/sources/little_steps_matter_logo.svg %}
      </div>

      <div class="company_name">Little Steps Matter</div>

      <div class="soon">Coming Soon</div>
      
    </div>

    {% if site.google.analytics %}
      {% include script_google_analytics.html %}
    {% endif %}

  </body>

</html>
